.signals {
    display: flex;
    align-items: flex-start;
    gap: 10vw;
    max-width: 100%;
    padding-left: 5vw;
}


.signals h3 {
    font-size: 30px;
}

.signals p {
    font-size: 19px;
}


.image {
    border-radius: 40px;
}