.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #50514F;
    padding: 15px;
    position: fixed;
    top: 0;
    
}


ul {
    flex: 1;
    list-style: none;
    text-align: center;
    background-color: #50514F;

}


ul li {
    display: inline-block;
    margin: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: #50514F;

}

a {
    background-color: #50514F;
    text-decoration: none;
}